---
---
// VARIABLES
$link_hover_color: #007199;
$background_grey: #f7fdff;
$font_color: #3A4145;
$button_hover_color: #e6edef;

// SITEWIDE STYLES
body {
  font-family: Montserrat;
  font-size: 17px;
  color: $font_color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-size: 3em;
  padding: 0.3em 0;
  font-weight: 700;
}
h2 {
  font-size: 2em;
  padding: 0.3em 0;
  font-weight: 600;
}
h3 {
  font-size: 1.5em;
  padding: 0.3em 0;
  font-weight: 600;
}
p {
  margin-bottom: 0.5em;
  line-height: 1.5;
  font-size: 1.1em;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $font-color;
}
a:hover {
  color: $link_hover_color;
}
.float_right {
  float: right;
}

// SITEWIDE FLEXBOX
.content-container {
  flex-grow: 1;
  border-top: 1px solid darkgrey;
}

// THREE COLUMN LAYOUT STYLES
.col-three {
  display: flex;
  &__side {
    flex: 1 1 auto;
  }
  &__middle {
    flex: 0 0 45%;
    min-width: 500px;
    &--home {
      flex: 0 0 50%;
      min-width: 550px;
    }
  }
}

// ROW STYLES
.row {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  &__col-left-icon {
    flex: 0 1 33%;
    i {
      float: right;
      margin-right: 0.5em;
    }
  }
  &__body {
    flex: 0 1 500px;
    border-bottom: 1px solid lightgrey;
  }
}

// POPUPS
.popup {
  overflow: hidden;
  max-height: 0px;
  width: 100%;
  opacity: 0;
  transition: all 1s ease;

  border-top: 1px solid lightgrey;
}
.popup.active {
  opacity: 1;
  max-height: 400px;
}
.reveal {
  cursor: pointer;
}

// MEDIA STYLES
.media {
  overflow: hidden;
  margin: 12px;
  display: flex;
  .img {
    float: left;
    margin-right: 10px;

    img {
      display: block;
    }
  }
  &__body {
    width: 100%;
    overflow: hidden;
    padding: auto;

  }
}

.hanging_indent {
  padding-left: 1em;
  text-indent: -1em;
}

// ARROWS
i.arrow {
  border: solid $font_color;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  transition: all 1s ease;
  &__right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &__left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  &__up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  &__down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  &__down.active {
    -webkit-transform: scaleY(-1) rotate(45deg);
    transform: scaleY(-1) rotate(45deg);

  }
}


// HEADER STYLES
.header {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  a {
    padding: 1.4em;
    border: 1px solid transparent;
  }
  a:hover {
    background: $background_grey;
    border: 1px solid darkgrey;
  }
  &__logo {
    letter-spacing: 0.15em;
  }
  &__nav {
    float: right;
    > li {
      display: inline-block;
      font-size: 0.8em;
      margin: 0;
      padding: 0;
    }
    .nineties {
      &__link {
        border: 6px outset darkgrey;
        top: 3.8em;
        right: 0em;
        position: absolute;
        display: none;
        z-index: 20;
      }
      &:hover .nineties__link {
        display: inline-block;
      }
    }
    >li.header__nav__home {
      display: none;
    }
  }
  &__mobile-check, &__mobile-label {
    display: none;
  }
}

// FOOTER STYLES
.footer {
  border-top: 1px solid darkgrey;
  padding: 0.6em;
  color: darkgrey;
  margin-top: 2em;
  background-color: $background_grey;
  font-size: 0.8em;
  &__name {
    vertical-align: sub;
  }
  &__contacts {
    font-size: 0.8em;
    float: right;
    vertical-align: middle;
    position: relative;
    .social-link {
      margin: 0 2px 0 0;
    }
    .contact_label {
      font-size: 0;
    }
    .contact_label.active {
      color: white;
      position: absolute;
      padding: 0.3em;
      font-size: 1.2em;
      display: block;
      top: -2.3em;
      right: 0.5em;
      border: 1px solid $font_color;
      background-color: $font_color;
      box-shadow: 3px 3px 4px darkgrey;
    }
    .social-link.active:before {
      border: 0.5em solid;
      border-color: $font_color transparent transparent;
      top: -0.7em;
      right:1em;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      z-index:  10;
    }
    a, li {
      position: relative;
      color: darkgrey;
      display: inline-block;
    }
    a:hover {
      color: $link_hover_color;
    }
  }
}

// HERO STYLES
.hero{
  display: flex;
  align-items: center;
  background-color: $background_grey;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 2em;
  min-height: 30vh;
  p {
    color: darkgrey;
    font-size: 1.2em;
  }
  &__content {
    flex: 1;
  }
  &-home {
    min-height: 40vh;

    text-align: center;
    vertical-align: center;
    img {
      box-shadow: 1px 1px 2px 0 #000 ;
      height: 6em;
      width: 6em;
      border-radius: 50%;
      margin-top: 1em;
      padding: 0.2em;
      border: 1px solid darkgrey;
    }
  }
  &-page {
    h1 {
      text-align: left;
    }
  }
}

// HOME PAGE STYLES
.about-home {
  display: flex;
  &__content {
    padding: 0 1em;
    flex: 1 0 80%;
  }
  &__contacts {
    flex: 1 0 20%;
    padding: 0 1em;
    display: block;
    h3 {
      margin-bottom: 0.4em;
    }
    li {
      font-size: 0.9em;
      padding: 0.2em 0;
    }
    .contact_label {
      vertical-align: super;
    }
  }
}

// RESUME STYLES
.resume {
  h3 {
    display: inline-block;
    padding-right: 0.5em;
  }
  ul{
    line-height: 1.3;
  }
  &__download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      cursor: pointer;
      font-size: 0.8em;
      padding: 6px;
      border-radius: 4px;
      background-color: $background_grey;
      box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    }
    button:hover {
      background-color: $button_hover_color;
    }
  }
  .fa-ul {
    .date {
      font-size: 0.9em;
    }
  }
  &__publications {
    line-height: 1.1;
    font-size: 0.9em;
  }
}

// BLOG STYLES
.blog-posts {
  h3 {
    padding: 0.3em 0;
  }
  .byline {
    color: darkgrey;
    &__date {

    }
  }

}



// MOBILE STYLES
@media (max-width: 600px) {
  .mobile-only {
    display: inline-block;
  }
  .about-home__contacts {
    display: none;
  }
  .col-three {
    display: block;
    &__side {
      display: none;
    }
    &__middle {
      padding: 0 1em;
      min-width: 88vw;
      &--home {
        min-width: 90vw;
      }
    }
  }
  .header {
    &__logo {
      display: none;
    }
    &__nav {
      background-color: $background_grey;
      box-sizing: border-box;
      left: 0;
      max-height: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 2.5em;
      transition: all 0.5s ease-in-out;
      width: 100vw;
      z-index: 9;
    }
    &__nav li {
      border-top: 1px solid darkgrey;
      display: block;
      padding: 1.5em;
    }
    &__nav li.header__nav__home {
      display: block;
    }
    &__nav a:hover {
      background: none;
    }

    &__nav  li:last-child {
      border-bottom: 1px solid darkgrey;
    }
    &__mobile-label {
      display: block;
      float: right;
    }
    &__mobile-check:checked ~ .header__nav {
      max-height: 1000px;
    }
  }
  .row__body {
    flex: 0 1 100%;
    padding: 0 5px;
  }
  .row__col-left-icon {
    display: none;
  }
  .media {
    img {
      width: 13vw;
    }
  }

}
@media (max-width: 350px) {
  .resume .media {
    .img {
      display: none;
    }
    .fa-ul {
      margin-left: 10px;
    }
  }
}
