<header class="header">
  <nav>
    <input type="checkbox" id="mobile-menu" class="header__mobile-check" />
    <label for="mobile-menu" class="header__mobile-label">
      Menu
    </label>
    <ul class="header__nav">
      <li class="header__nav__home"><a href="/">Home</a></li>
      <li><a href="/resume">Résumé</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
      <!-- <li class="nineties">
        <a href="">1996</a>
        <div class="nineties__link">
          <img src="/assets/dancing_baby.gif" />
        </div>

      </li> -->
    </ul>
  </nav>
  <a href="/" class="header__logo">Alan Wilder</a>
</header>
