<li class="social-link">
  <a href="https://www.linkedin.com/in/alan-wilder-08829032/" id="linkin">
    <i class="fa fa-fw fa-2x fa-linkedin-square valign-middle"></i><span class="contact_label">LinkedIn</span>
  </a>
</li>
<li class="social-link">
  <a href="https://github.com/ajwilder" id="github"><i class="fa fa-fw fa-2x fa-github-square valign-middle"></i><span class="contact_label">Github</span></a>
</li>
<li class="social-link">
  <a href="https://bitbucket.org/ajowilder/" id="bitbucket"><i class="fa fa-fw fa-2x fa-bitbucket-square valign-middle"></i><span class="contact_label">Bitbucket</span></a>
</li>
<li class="social-link">
  <a href="mailto:wilderalan@gmail.com" id="email"><i class="fa fa-fw fa-2x fa-envelope-square valign-middle"></i><span class="contact_label">Email</span></a>
</li>
