---
layout: default

---

<div class="hero hero-page">
  <div class="hero__content">
    <div class="col-three about-home">
      <div class="col-three__side"></div>
      <div class="col-three__middle">
        <h1>{{ page.title }}</h1>
        <p>
          blog post from {{ page.date | date: '%B %d, %Y' }}
        </p>
      </div>
      <div class="col-three__side"></div>
    </div>
  </div>
</div>

<div class="col-three">
  <div class="col-three__side"></div>
  <div class="col-three__middle">
        {{ content }}

  </div>
  <div class="col-three__side"></div>
</div>
